@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
@import url(https://fonts.googleapis.com/css?family=Exo:100);
/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */
/* Exo thin font from Google. */
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

/* Main styles */
body {
  color: #999;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

#error {
  display: none;
}

.success {
  width: 5vw;
  color: #e5e5e5;
  font-family: "exo";
  font-weight: 500;
  font-size: 1vw;
  background-color: #54e346;
  padding: 20px;
  position: fixed;
  bottom: 10px;
  border-radius: 10px;
  text-align: center;
}

.error {
  color: #e5e5e5;
  font-family: "exo";
  font-size: 1vw;
  font-weight: 500;
  background-color: #ce1212;
  padding: 20px;
  position: fixed;
  bottom: 10px;
  border-radius: 10px;
  text-align: center;
}

#welcome {
  margin-top: 0;
  position: absolute;
  margin-left: 35%;
  font-family: "Roboto", sans-serif;
}

#welcome h1 {
  font-size: 8vw;
  margin-bottom: 0;
}

#welcome .infotext {
  width: 83%;
  text-align: left;
  font-size: 1vw;
}

.login {
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: none;
  margin-top: 5%;
  border-radius: 10px;
  width: 30vw;
  border-radius: 10px;
  background-color: black;
  padding-bottom: 50px;
}

.login #signupButton {
  margin-top: 0px;
  width: 21vw;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff1e56;
  color: #e5e5e5;
  font-size: 1.5vw;
  font-family: "exo";
  cursor: pointer;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.login #signupButton:hover {
  background-color: #ffac41;
}

.login hr {
  margin-top: 30px;
  width: 21vw;
  border-bottom: solid #e5e5e5 2px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.login #title {
  font-size: 5vw;
  color: #e5e5e5;
  font-family: "exo";
}

.login label {
  text-align: center;
  border: none;
  background-color: #323232;
  color: #e5e5e5;
  font-family: "exo";
  padding: 10px;
  border-radius: 5px;
  font-size: 0.8vw;
  width: 20vw;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login input {
  font-family: "Roboto", sans-serif;
  border: solid black 2px;
  width: 20vw;
  height: 3vh;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  -webkit-transition: #323232 300ms;
  transition: #323232 300ms;
}

.login input:focus {
  font-family: "Roboto", sans-serif;
}

.login form {
  display: -ms-grid;
  display: grid;
  place-items: left;
}

.login #loginButton {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff1e56;
  color: #e5e5e5;
  font-size: 1.5vw;
  width: 10vw;
  font-family: "exo";
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.login #loginButton:hover {
  cursor: pointer;
  background-color: #ffac41;
}

.footer {
  margin-top: 18vh;
  text-align: center;
}

.footer h6 {
  font-size: 0.8vw;
  font-family: "exo";
  font-weight: 500;
  margin-bottom: 0;
}

@media only screen and (max-width: 1000px) {
  body {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .login {
    margin-top: 0;
    width: 50vw;
  }
  .login #title {
    font-size: 6vw;
  }
  .login input {
    width: 30vw;
  }
  .login label {
    font-size: 1.2vw;
    width: 30vw;
  }
  .login #loginButton {
    font-size: 2vw;
    width: 15vw;
  }
  .login hr {
    width: 30vw;
  }
  .login s #signupButton {
    font-size: 2vw;
    width: 15vw;
  }
  #welcome {
    display: none;
  }
  .footer {
    margin-top: 20vh;
  }
  .footer h6 {
    text-align: center;
    font-size: 1.4vw;
  }
}

@media only screen and (max-width: 700px) {
  body {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .login {
    margin-top: 4vh;
    width: 70vw;
  }
  .login #title {
    font-size: 8vw;
  }
  .login input {
    width: 50vw;
  }
  .login label {
    font-size: 2vw;
    width: 50vw;
  }
  .login #loginButton {
    font-size: 3vw;
    width: 20vw;
  }
  .login hr {
    width: 50vw;
  }
  .login #signupButton {
    font-size: 3vw;
    width: 50vw;
  }
  #welcome {
    display: none;
  }
  .footer {
    margin-top: 30vh;
  }
  .footer h6 {
    text-align: center;
    font-size: 2vw;
  }
}
/*# sourceMappingURL=main.css.map */